body{
	font-family: aerial;
}

#youtube{
	font-size: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-family: inherit;
}

.js-subscribe{
	background-color: #FF0000 ;
	border: none;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: whitesmoke;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 20px;
}
.isSubscribed{
	background-color: grey;
	color: black;

}
.costInput{
	padding-left: 8px;
	border-radius: 5px;
	border: solid 1px grey;
	padding: 5px;
}
.js-calculate{
	background-color: #FF9900;
	border: none;
	border-radius: 10px;
	color: whitesmoke;
	font-weight: bolder;
	padding: 8px;
	cursor: pointer;
}