/** @format */

 .root {
  --main-color: #379237;
  --font-color: #f0ff42;
  --border-color: #001253;
  --body-color: #f6f6c9;
} 
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  background-color:black;
 
}

 h1 {
  
  margin-bottom: 40px;
  margin-top: 35px;
  font-size: 35px;
  font-weight: :800;
  color:white;
}
p{
  color:#f6f6c9;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reset-btn {
  padding: 15px 20px;
  font-size: 25px;
  height:50px;
/*  border-radius:75px;*/
  border: 3px solid white;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.move-icon  {
  height: 50px;
  
}
input{
  background-color: grey;
  color: black;
  border-radius: 10px;
  height:20px;
  margin: 5px;
}